<launch>
	<rosparam command="load" file="$(find wall_follow)/launch/wallFollow_params.yaml"/>
	<node pkg="wall_follow" type="wall_follow_pc_subscriber" name="pc_subscriber" ns="hor"/>
	<node pkg="wall_follow" type="wall_follow_pc_subscriber" name="pc_subscriber" ns="vert"/>
	<node pkg="wall_follow" type="wall_follow_velocity_publisher" name="velocity_publisher"/>
</launch>
